body {
    display: flex;
    background-color: var(--body-bg);
    color: var(--txt-color);
    background-image: url('/images/booksbackground.jpeg');
   
    
}


.main-container {
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content:space-evenly;
    margin: 0 auto;
    margin-top: 5%;
    /* top: 200px; */
    /* gap: 10px; */

}


.aboutPage {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    /* border: 2px solid black; */
    padding: 12px;
    justify-content:center;
    /* line-height: 1; */
    overflow: hidden;
    width: 20%;
    height: 45%;
    width: 25%;
    /* align-self: flex-start; */
}


.dark {
    --body-bg: #151515;
    --box-bg: #151515;
    --box-border-color: #262626;
    --txt-color: #d2d2d2;
    background-image: url('');
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 1%;
    left: 50%;
    word-spacing: 1rem;
}

.about-navigation {
    position: fixed;
    top: 1%;
    left: 50%;
}