body {
  display: flex;
  background-color: #151515;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 10%;
}

.messagesent {
  margin: 0 auto;
  display: flex;
  color: azure;
  flex-flow: column;
  align-items: center;
}
