* {
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    font-family: 'Oswald';
    background-image: url("/images/booksbackground.jpeg");
    background-color: var(--body-bg);
    color: var(--txt-color);
}

.pageWrapper {
    border:solid thin red;
    width: 100%;

}
.sortFav{
    display: flex;
    flex-direction: row;
    max-width: 500px;
    margin: 10px auto;
}

.sortSelection {
    border-radius: 8px;
    text-align: center;
}
.sortSelectionDiv{
    margin-right: 15px;
}

.pageHeading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
}

.container {
    padding: 15px;
    width: 500px;
    margin: 0 auto;
}

.booksDiv {
    display: flex;
    flex-flow: wrap;
    margin:0 auto;
    justify-content:space-evenly; 
    gap: 10px;
}

.books {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 25px;
    padding: 12px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    width: 20%;
    height: 400px;
    background-color: rgba(255,255,255,.5)

}
.books img{
    height: 100px;
}
.imageHolder {
    width: 75px;
    padding-bottom: 10px;
    margin-top: -5px;
    align-self: center;
    justify-self: center;
}

.books li{
    font-style: italic;
}

.books p{
    font-size: 10px;
    font-weight: bold;
}
.bookSubject {
    list-style: none;
    font-size: 10px;
}

.books input {
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}
.books span {
    cursor: grab;
}

.books span.on {
    font-size: 25px;
    color: red;
}

.books.on {
    background-image: url('./images/heart.png');
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 30px 20px;
    animation: shake 0.5s;
    animation-iteration-count: 1s;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.bookSubmitFormDiv {
    width: 100%;
    /* border: 1px solid red; */
    /* background: red; */
}

.searchBoxDiv {
    width: 100%;
}

/* .FavoriteCount {
    width: 25%;
    border: 1px solid green;
} */

.dark {
    --body-bg: #151515;
    --box-bg: #151515;
    --box-border-color: #262626;
    --txt-color: #d2d2d2;
    background-image: url('');
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 1%;
    left: 50%;
    word-spacing: 1rem;
}

#post {
    margin-bottom: -15px;
    width: 50px;
    background-color: gray;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.showFavoritesOnlyDiv {
    display: flex;
    margin-left: 30%;
}

.submitButton {
    margin-bottom: -15px;
    width: 20%;
    background-color: gray;
    color: black;
    border-radius: 10px;
    text-align: center;
}
.bookFormDiv input{
    width: 50%;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    color: red;
    border: 1px solid gray;
    box-shadow: 0 0 15px 4px black;
}

.centralLibrary {
    font-style: italic;
    text-shadow: 2px 1px gray;
}
#unordered {
    list-style-type: none;
}

#edit {
    width: 50px;
    color: red;
}

/* Utility */
h1{
    margin-top: 15px;
}
h1{
    margin-bottom: 10px;
    text-align: center;
}
h3{
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    
}
h4 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}
.p15{
    padding: 15px;
}
.bg1{
    background-color: rgba(255,255,255,.5)
}

.searchBox {
    width: 50%;
    border-radius: 5px;
    text-align: center;
}

.favoriteCountAdjust.on{
    font-size: large;
    color: red;

}

#unordered {
    overflow-y: scroll;
}