.books {
    border: 1px solid black;
    width: 25%;
}

.books span {
    background: red;
}
.bookSubmitFormDiv {
    width: 25%;
    border: 1px solid red;
    /* background: red; */
}

.searchBoxDiv {
    width: 25%;
    border: 1px solid blue
}

/* .FavoriteCount {
    width: 25%;
    border: 1px solid green;
} */

.imageHolder {
    width: 10%;
}

.dark {
    --body-bg: #151515;
    --box-bg: #151515;
    --box-border-color: #262626;
    --txt-color: #d2d2d2;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg);
    color: var(--txt-color);
}

.footer {
    position: fixed;
    bottom: 1%;
}

#post {
    background-color: red;
}

/* #unordered {
    list-style-type: none;
} */